body {
    height: 100vh;  
    align-items: center;
    justify-content: center;  
    background: url('assets/Japán.jpg') no-repeat center center fixed;  
    background-size: cover;  
    font-weight: 800;
    font-size: 140%;
    font-family: 'Pacifico', cursive;
  }
  img {
    
    border-radius: 80%;
    padding: 1px;
    background-color: #666;
    filter: grayscale(50%);
    transition: all 0.5s ease-in-out;
  }
  
  img:hover {
    transform: rotate(45deg);
  }
  img {
    float: right;
    margin: 10px;
    padding: 10px;
    border: 5px;
  }
    
  .container {
    width: 320px;
    height: calc(100vh - 160px);
    margin: 20px auto;
    background-color: ivory;
    position: relative;
    text-align: center;
    opacity: 0.6;
  }
  
  .box{
    width: 160px;
    height: 200px;
  }
  
  #box-01 {    
    float: left;
  }
  
  #box-02 {    
    float: right;
  }
  
  #box-03 {    
    float: left;
  }
  
  #box-04 {    
    float: right;
  }